/* general stuff */
html, body {
  height:100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.1em;
  color: black;
  min-width: 750px;
  background-color:#fff;
}

ul#skip-links {
    position: absolute;
    top: 1px;
    left: 1px;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#skip-links li {
    display: inline;
    float: left;
    padding-right: 5px;
}
ul#skip-links li a {
    color: white;
    border: 0;
}    
ul#skip-links li a:focus {
    color: inherit;
    border: inherit;
}    

#all {
  background-color:white;
  min-height: 100%;  
  position: relative;
  height: auto !important;
  height:100%;
  padding:35px 0px 0px 35px;  
}

#header {
  clear:both;
  white-space:nowrap;
}
#header h1 {
  color: #00aeef;
  margin:0px;
  text-transform: lowercase;
  font-size: 3.2em;
  padding-left: 15px;
}
#header h1 a {
  text-decoration: none;
  color: #00aeef;
  font-weight:bold;
  border-bottom: 0;  
}


#header h2 {
  font-size: 2em;
  margin:0px;
  padding-left: 15px;  
  margin-top: -12px;
}
#header h2 a {
  text-decoration: none;
  color: #00aeef;
  border-bottom: 0;
}

#header img {
  margin-top: -7px;
  height:5.5em;
    width:4.5em;
}

#title a {
  font-family: Helvetica, arial, sans-serif;
  border:0px;
  display:block; 
  text-align:right;
}

#subtitle {
  font-size: small;
  font-style: italic;
}

#main {
  padding-top:1em;
  padding-bottom:1.8em;

  min-height: 100%;  
  position: relative;
  height: auto !important;
  height:100%;    
}

#middle-col {
  padding: 0 0 1.8em 0;
  line-height: 150%; 
  border-top: 2px solid #00aeef;  
  margin-top: 1em;  
}
#right-col, #left-col {
  padding: 0 0 1.8em 0;
/*  line-height: 160%; */
  border-top: 2px solid #00aeef;  
  margin-top: 1em;  
}

#right-col .moduletable_box {
  border: 2px solid #00AEEF;
  background-color: #F1FBFE;
  padding: 10px;
  margin: 10px 0px;
}
#right-col .moduletable_box h3 {
  margin-top: 0.5em;
}


#middle-left, #middle-center, #middle-right {
  margin:2px;
}


#footer {
  clear: both;
  display:block;
  position: absolute;
  bottom: -3em !important;  

  font-size: smaller;
  text-align:center;
  color:black;
  width:100%;
}



/* links */
a:link, a:visited {
  color: #017DAC;
  font-weight: normal;
    font-size: 100%;
  border-bottom:1px solid #017dac;
  text-decoration:none;
}

a:focus, a:hover {
  border: none;
  border-bottom:3px solid #017dac;
  text-decoration:none;
}

a img {
  border-bottom: 1px solid #fff;
}

/* navigation */
ul.menu {
  list-style: none;
  margin: 0;
}

.menu li {
  border-bottom: 2px dotted #e5e5e5;
  list-style: none;
}

.menu a:link, .menu a:visited {
  padding: 10px 0px 10px 20px;
  text-decoration: none;
  border:0px;
  display:block;
  color: black;
  font-weight: bold;
}
.menu a:hover, .menu a:focus {
  background-color:#c7ecfa;
  text-decoration: none;
  border:0px;
}
.menu li.current a {
  color: #00aeef;
  text-decoration: none;
  border:0px;
  background-image: url('../images/arrow_blue.png');
  background-position: center left;
  background-repeat: no-repeat;  
}

/* destyle sub menus */
.menu li ul li, .menu li ul li:first-child {
  border: none;
}
.menu li.current ul li a {
  background-image: none;
  color: black;
}

.menu li li a {
  background-color:transparent;
  font-size: 0.9em;
}
.menu li.current li a:hover, .menu li.current li a:focus {
  background-color:#c7edfc;
  text-decoration: none;
  border:0px;
}


.menu li ul {   
  margin: 0; 
  padding-left: 20px;   
}
.menu li ul li.current ul li a {    
  font-size: 0.9em;
  font-weight: normal;
}

.breadcrumbs {
  margin-top:5px;
}

.breadcrumbs a {
  border: 0;
}
.breadcrumbs img {
  padding-bottom: 2px;
}

/* search module */
.search-mod {
  margin: 3em 0 0 1em;
}

.search-mod #mod-search-searchword {
  margin-right:5px;
  width:75%;
}


/* path */
#path {
  /*background-color: #FCEED2;*/
  padding-bottom:3px;
  border-bottom:1px dashed #E7C172;
}

#path a:link, #path a:visited {
  text-decoration: none;
  border: 0px;
}
#path a:hover {
  border-bottom:1px solid #003466;
}

#path img {
  margin-bottom:-9px;
  padding-left:2px;
  padding-right:2px;
}

/* titles */
h2 {
  font-size: 120%;
  color: #0e66a8;
}

h3 {
  font-size: 100%;
  color: #0e66a8;
}

.contentheading, .componentheading { 
  font-weight: bold;
  font-size: medium;
  color: #003464;
  margin-top:10px;
}

/* buttons */
input.button {
  background-color: white;
  border: 1px solid #8C8B8B;
  padding-left: 5px;
  padding-right: 5px;
}

/* author "written by", create date, last updated date */

.author, .createdate, .modifydate {
  font-size:smaller;
  color: #7B7B7B;
  display:block;
/*  line-height: 150%; */

}

/* "read more" link */
.readon {
  /*text-align:right;*/
  padding-top:5px;
  margin-bottom:5px;
}

 

.back_button {
  padding-top:10px;
}

.newsflash h4 a {
  display: block;  
  padding-bottom: 1em;
  border-bottom: 0;
  font-size: 1.1em;
  text-decoration: underline;
}

/* site map */

ul.level_1 {
  margin-left:20px;
}

/* tables */

.row {
  padding:5px;
}


td.mceToolbarTop img {
  padding:2px !important;
  margin:1px !important;
}

.contentitem {
  padding:0px;
  margin:0px;
}

/* actions */
ul.actions {
  margin:0px;
  padding:0px;
  text-align: right;
  display:inline;
  list-style:none;
}
ul.actions li {
  margin:0px;
  padding:0px;
  text-align: right;
  display:inline;
  list-style:none;
}
ul.actions a {
  border-bottom: 0;  
}

/* feeds on home page */

.home-feeds {
}
.home-feeds h2 {
  margin-top:0px;
  margin-bottom:10px;  
}

.moduletable_twitter h3 {
  background-image:url('../images/twitter_icon.png');
  background-repeat: no-repeat;
  background-position: 2px -2px;
  padding-left:30px;
  
}

.feed a, .feed_twitter a {
  text-decoration:none;
  border-bottom: 0;
}

.feed ul.newsfeed, ul.newsfeed_twitter {
  padding: 0px 5px 5px 5px;
  margin:0px 0px 10px 0px;
  overflow: hidden;
}

.feed li.newsfeed-item, .feed_twitter li.newsfeed-item {
  list-style:none;  
}

/* fss overrides and additions */

.fl-container-flex90 {width: 90%;}

div:focus, body:focus  {
  outline:none;
}


/* new clear fix http://perishablepress.com/press/2009/12/06/new-clearfix-hack/ */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
//.clearfix { display: block; }
/* End hide from IE-mac */


/* tech glossary */
p.glossary-intro {
  margin-left: 6em;
}

div.item-separator {
  margin-bottom:1em;
}

.items-leading div {
  /* display:inline-block; */
}
.items-leading div h3 {
  display:inline-block;
}

/* pager */

.pagination {
  background-color: #ccc;
}
.pagination ul {
  list-style: none;
  display: inline;
}
.pagination ul li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

/* fix for tinymce textarea bg */
#body-bg {
  background-color: #4a708b; 
}

/* AODA list for helping you design */
ul#aoda img {
  float:left;
  margin-right:10px;
  padding-bottom: 2em;
}
ul#aoda li {
  clear:left;
}
ul#aoda li p {
  padding: 1em 0em 0em 2em;
}


/* AODA list for checkingaccessibility */
ul#aodacheck img {
  float:left;
  margin-right:10px;
  padding-bottom: 2em;
}
ul#aodacheck li {
  clear:left;
}
ul#aodacheck li p {
  padding: 1em 0em 0em 2em;
}




table{
  border-collapse:collapse;
  font-family:Arial, Helvetica, sans-serif;
  caption-side:left;
  }

th{
  text-align:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  padding:3px;
  padding-left:8px;
  padding-right:8px;
  color: #FFFFFF;
  background-color:#666666;
  border:1px white  solid;
  }

td {
  text-align:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-style:normal;
  padding:3px;
  padding-left:8px;
  padding-right:8px;
  color:#000000;
  background-color:#CCCCCC;
  border:1px white solid;
  }
tfoot td{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}



#footnote{font-size:12px
}



#alpha{
  font-family:Georgia, "Times New Roman", Times, serif;
  list-style:lower-alpha;
}
caption{
  color:#000000}
.item-page strong{
font-weight:900 !important;

}

/*
Simple RSS Feeds Style overides
*/

div.srfrContainer ul.srfrList li a {
    display: inline;
    font-family: Tahoma,Geneva,sans-serif;
    line-height: 120%;
    text-decoration: none;
}
div.srfrContainer ul.srfrList li {
    border-top: none;
    padding: 1px 4px;
}
#wds-container {
    border: 2px solid #00aeef;
    margin: 1em 0;
    padding: 0.3em;
}

#wds-container a {
    border-bottom: 0;
}
#wds-header {
    border: 0;
}
.wds-avatar {
    float: right;
}
#wds-twitter-icon {
    float: left;
}
.wds-tweet-container {
    padding: 0.5em;
}
a .wds-screen-name { color: inherit; }

.fl-col-flex2 .fl-col{
    margin-left:2em;
    width:40%;

}
